body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  margin-top: 10vw;
  margin-right: 20vw;
  margin-left:20vw;
  border: solid white 1px;
}

header h1 {
  background-color:#1d4587;
  border: solid black 2px;
  margin: 0px;
   color: white;
   font-weight: 600;
   padding: 10px;
}

.floater {
  background-color: #cde2f4;
  height: 20px;
  margin-top: 25px;
    }

.designer {
  font-weight: 430;
  font-size: 30px;
}

main {
  background-color: white;
}

.row {
  margin-left: 10vw;
  margin-right: 5vw;
}

.thick {
  font-weight: bold;
}

.column1{
  box-sizing: border-box;
  float: left;
  width: 70%;
  padding: 10px;
}

.column1 p {
  text-align: left;
}

.column2{
  box-sizing: border-box;
  float: left;
  width: 30%;
  padding-left: 30px;
  margin-top: 50px;
}

.img-text {
  margin-left: 5px;
  text-align: left;
}
.article-title {
font-weight: 420;
font-size: 18px;
}

.article-text {
  font-size: 11px;
}

.row:after {
  content: "";
  display: table;
  clear: both; 
}

footer {
  background-color:#1d4587;
  border: solid black 2px;
  height: 100px;
}